* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #040d15;

}



.btn-panel {
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
    right: 100px;

}

.btn {

    width: 155px;
    height: 50px;
    margin-left: 50px;
    margin-top: 150px;
    cursor: pointer;
    color: white;
    border: none;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    border-radius: 15%;
    outline: none;


}

.btn:nth-child(2) {
    background: linear-gradient(90deg, #755bea, #ff72c0);
}

.btn:hover {
    background: linear-gradient(90deg, #FF00FF, #DC143C);
    transition: 100ms;
    transform: scale(1.5);
    color: #55e7fc
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.box-container {
    width: 100%;
    height: 100%;
    position: absolute;
  
    display: grid;
    grid-template-columns: repeat(5, 50px);
}

.box {

    width: 50px;
    height: 50px;
   
}